body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(38, 38, 38);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    background-color: #0f2e39;
}

.left-content, .right-content {
    flex: 1;
    padding: 10px; 
}


h1, h2 {
    color: #d8cfbe;
}

p{
    color: #a8a28a;
}
.img1{
    border-style: solid;
    border-color: #101010;
    border-radius: 12px;
}

